*{
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(92, 95, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.nav a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.menu-icono{
    display: none;
}

/*Responsive del header*/
@media screen and (max-width: 768px) {
    .nav a{
        display: none;
    }

    .nav.responsive{
        margin-top: 50px;
        padding-bottom: 30px;
        height: 350px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(92, 95, 95);
        transition: 0.2s;
    }

    .nav.responsive a{
        position: relative;
        display:block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .menu-icono{
        display: block;
    }

    .menu-icono a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin-right: 30px;
        padding: 10px 10px 10px 10px;
    }

    .menu-icono a:hover{
        background-color: white;
        color: black;
        transition: 0.6s;
        border-radius: 10px;
    }
}

/*Empieza el contenido*/
.contenido1{
    background: url(./Imagenes/imagendh.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    display: flex;
}

.texto1{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 350px;
}

.texto1 h1{
    text-align: center;
    font-size: 30px;
    color: black;
}

.texto1 p{
    text-align: center;
    color: black;
}

/*Responsive del contenido1*/
@media screen and (max-width: 768px) {
    .contenido1{
        background: url(./Imagenes/imagendh.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
    }

    .texto1{
        width: 100%;
    }

    .texto1 h1{
        font-size: 25px;
    }

}

@media screen and (max-width: 425px) {
    .contenido1{
        background: url(./Imagenes/imagendh.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
    }

}

/*Bloques*/

.bloques1{
    display: flex;
    align-items: center;
}

.bloques1::before{
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
}

.bloque1{
    width: 50%;
    height: 400px;
    background: url(./Imagenes/calidad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}

.bloque1 h1{
    padding-top: 100px;
    position: relative;
}

.bloque1 p{
    position: relative;
}

.bloque2{
    width: 50%;
    height: 400px;
    background: url(./Imagenes/bicis.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}

.bloque2 h1{
    padding-top: 100px;
    position: relative;
}

.bloque2 p{
    position: relative;
}

/*Responsive de bloques1*/

@media screen and (max-width: 768px){
    .bloques1{
        flex-direction: column;
    }

    .bloque1{
        width: 100%;
    }

    .bloque2{
        width: 100%;
    }

    .bloques1::before{
        content: '';
        background: rgba(77, 77, 92, 0.6);
        position: absolute;
        width: 100%;
        height: 800px;
        left: 0;
    }
}

.contenido2{
    background: url(./Imagenes/borjatrial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
}

.contenido2::before{
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 700px;
    left: 0;
}

.texto2{
    position: relative;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 350px;
    text-align: center;
    color: white;
}

.texto2 a{
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 7px 80px 7px 80px;
}

.texto2 a:hover{
    color: red;
    transition: 0.2s;
}

/*Responsive contenido2*/

@media screen and (max-width: 768px){
    .contenido2{
        background: url(./Imagenes/borjatrial.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.derechos{
    width: 100%;
    height: 80px;
    background-color: rgb(166, 136, 136);
    display: flex;
    align-items: center;
}

.derechos a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}