*{
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(92, 95, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.nav a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.menu-icono{
    display: none;
}

/*Responsive del header*/
@media screen and (max-width: 768px) {
    .nav a{
        display: none;
    }

    .nav.responsive{
        margin-top: 50px;
        padding-bottom: 30px;
        height: 350px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(92, 95, 95);
        transition: 0.2s;
    }

    .nav.responsive a{
        position: relative;
        display:block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .menu-icono{
        display: block;
    }

    .menu-icono a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin-right: 30px;
        padding: 10px 10px 10px 10px;
    }

    .menu-icono a:hover{
        background-color: white;
        color: black;
        transition: 0.6s;
        border-radius: 10px;
    }
}

/*Empieza contenido*/

.titulo{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
}

.bloques1{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bloquetrial{
    width: 50%;
    text-align: center;
}

.bloquetrial img{
    width: 72%;
}

.bloquetrial img:hover{
    transition: 0.1s;
    width: 74%;
}

.bloquemtb{
    width: 50%;
    text-align: center;

}

.bloquemtb img{
    width: 72%;
}

.bloquemtb img:hover{
    transition: 0.1s;
    width: 74%;
}

.bloques2{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bloqueroad{
    width: 50%;
    text-align: center;
}

.bloqueroad img{
    width: 72%;
}

.bloqueroad img:hover{
    transition: 0.1s;
    width: 74%;
}

.bloquebmx{
    width: 50%;
    text-align: center;
}

.bloquebmx img{
    width: 72%;
}

.bloquebmx img:hover{
    transition: 0.1s;
    width: 74%;
}

/*RESPONSIVE DE BLOQUES*/

@media screen and (max-width: 768px){
    .bloques1{
        flex-direction: column;
    }

    .bloquetrial{
        width: 100%;
        padding-bottom: 100px;
    }

    .bloquemtb{
        width: 100%;
    }

    .bloques2{
        flex-direction: column;
    }

    .bloqueroad{
        width: 100%;
        padding-bottom: 100px;
    }

    .bloquebmx{
        width: 100%;
    }
}

.derechos{
    width: 100%;
    height: 80px;
    background-color: rgb(166, 136, 136);
    display: flex;
    align-items: center;
}

.derechos a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}